
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

gif-background {
background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Ftenor.com%2Fsearch%2Fblood-drip-gifs&psig=AOvVaw3BRA90UchwXLM5gfxT25Bk&ust=1765040700498000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMCKt5H3ppEDFQAAAAAdAAAAABAt');
    background-position: center; 
    background-repeat: no-repeat;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
    color: #4a0a08; 
}

header {
    background: #843131;
    color: rgb(217, 142, 142);
    padding: 1rem 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background: #891313; 
}

nav a {
    color: rgb(243, 153, 153);
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #5c0505;  
}

main {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
}

footer {
    background: #570b0b;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
   
    display: flex; 
    justify-content: center;
}

.about-image img {
    float: left; 
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    border: 3px solid #d8322c;
    border-radius: 8px;
}

.clear-float {
    clear: left; 
}

.store-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 1.5rem;
}

.product-card {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(92, 4, 4, 0.1);
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-card a {
    display: inline-block;
    background: #751a17;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1rem;
}

.price {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.5rem;
    color: #f7d600;
}


.contact-main {
    display: flex; 
    flex-direction: column;
    align-items: center; 
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(54, 0, 0, 0.1);
}

.contact-form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.contact-form input, 
.contact-form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Roboto Mono', monospace;
}

.contact-form button {
    background: #831612;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;
}
